{
  "printWidth": 100,
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    }
  ],
  "trailingComma": "none",
  "endOfLine": "auto",
  "tabWidth": 4
}
